@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-12 bg-white text-dark">
        <h1>Anthologia</h1>
        <h3>Application Description</h3>
        <p>We have built this application to be a place where people can share their short stories, but in the micro-content form we've all become accustomed</p>
        <img class="img-fluid" src="~/Images/flare.svg" />
    </div>
    <div class="col-12 bg-white text-dark list-group">
        <h3>Goals</h3>
        <div class="list-group-item bg-light text-dark">
            <span class="material-icons">accessibility_new</span>
            <span>Anyone can share stories</span>
        </div>
        <div class="list-group-item bg-light text-dark">
            <span class="material-icons">close_fullscreen</span>
            <span>Stories have a set character limit</span>
        </div>
        <div class="list-group-item bg-light text-dark">
            <span class="material-icons">rule</span>
            <span>Stories can be voted upon by the community</span>
        </div>
    </div>
</div>