@{
    ViewData["Title"] = "Contact Us";
}

<div class="row">
    <div class="col-12 bg-white text-dark">
        <h2>Anthologia</h2>
        <h3>Core Developer</h3>
        <p>Nathaniel Carson is the sole developer of Anthologia.</p>
        <p>Contact me via email at: <a href="mailto:nate@natecarson.co">nate@natecarson.co</a></p>
        <img class="col-sm-2 rounded-circle" src="~/Images/bitmoji.jpeg" />
    </div>
    <div class="col-12 bg-white text-dark list-group">
        <h3>Social Links</h3>
        <div class="list-group-item bg-light text-dark"">
            <span class="material-icons">
                perm_identity
            </span>
            <a href="https://www.linkedin.com/in/nathaniel-carson-a1b238155/">LinkedIn</a>
        </div>

        <div class="list-group-item bg-white text-dark">
            <span class="material-icons">
                code
            </span>
            <a href="https://github.com/natecarson1995">GitHub</a>
        </div>
    </div>
</div>