@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the landing page for Anthologia!</h1>
    <p>The absolute best website to share and read short stories</p>
</div>
