@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>User details are never shared with third parties unless required by law.</p>
<p>All data breaches will be announced as quickly as reasonable, according to our transparency policies.</p>
